<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

	<% @important = Step.mine(current_user.id).important; @icounter=0 %>
	
		<fieldset>
	
	<legend>Don't Forget</legend>

<ul class="important-list">
	<% @important[0..4].each do |project| %> 
		<% if (user_signed_in? || project.accessible?)  && @icounter < 5%>
		<li><%= project_path(project,'/',true)%></li>
		<% end %>
    <%end%>
</ul>
<ul class="important-list">
	<% @important[5..9].each do |project| %> 
		<% if (user_signed_in? || project.accessible?)  && @icounter < 5%>
		<li><%= project_path(project,'/',true)%></li>
		<% end %>
    <%end%>
</ul>
</fieldset>