
<div class="projects-status" id="<%=status%>">

<div id="title"><%=status%></div>
<div>
<ul>
<%= render (:partial=> "/manager/project_item", :collection => @projects, :locals => { :status => status } ) unless @projects.nil?%>
</ul>
</div>

</div>