<span id="new_projects"><%= render (:partial => "manager/project_by_status", :locals => {:status => 'new'})%></span>
<span id="started_projects"><%= render (:partial => "manager/project_by_status", :locals => {:status => 'started'})%></span>
<span id="completed_projects"><%= render (:partial => "manager/project_by_status", :locals => {:status => 'completed'})%></span>
