<span id="new_projects"><%= render(:partial => "manager/project_by_status", :locals => {:status => 'new'})%></span>
<span id="started_projects"><%= render(:partial => "manager/project_by_status", :locals => {:status => 'started'})%></span>
<span id="completed_projects"><%= render(:partial => "manager/project_by_status", :locals => {:status => 'completed'})%></span>
<script type="text/javascript">

    function change_step_status ( me, url, status, nextStatus )
    {
        $.ajax({
            url: url,
            success:function(result){
                var newItem = $(result);
                $(me).closest("li").remove();
                $( "#" + nextStatus + ".projects-status").append(newItem);
            newItem.effect('highlight',{},1000)},
            error:function(result){  $("#ajax_result").html(result.responseText)}
        })
    }
</script>

<div id="ajax_result"></div>