<div id="dashboard">
<div style="display:block;">

<div id="recently_added">
	<%= render(:partial =>"manager/recently_added") %>
</div>
<div id="recently_updated">
	<%= render(:partial =>"manager/recently_updated") %>
</div>
</div>
<% if Step.requires_update.mine(current_user.id).count > 0 %>
<div id="requires_update">
	<%= link_to 'Some of your projects require update', :controller=> :manager, :action=>:search, :search =>{:status =>"pending update", :q=>"", :user_id=>current_user.id}%>
</div>
<% end %>
<%=render(:partial => "manager/projects_status_bar") %>

</div>

