
<h3>About Steps</h3>
    <li>
        <a href="http://mograblog.blogspot.com/search/label/steps">Blog</a>
    </li>
    <li>
        <a href="http://www.mograbi.co.il">Creator</a>
    </li>
	<li>
		<a href="http://projectmanager.mograbi.co.il/steps/2">Next Steps</a>
	</li>
	<li>
		<a href="http://sites.google.com/site/guymograbi/my-projects/steps---project-manager">Wiki</a>
	</li>
		<a href="http://www.twitter.com/guymograbi"><img src="http://twitter-badges.s3.amazonaws.com/follow_bird-b.png" alt="Follow guymograbi on Twitter"/></a>
	

<h3> New Features </h3>

<% Step.recently_updated.completed_children(2)[0..5].each do |c| %>
    <li><%= step_link c %></li>
<% end %>
